<a href="https://colab.research.google.com/github/rocruzlathrop/retri-social/blob/main/Cuaderno_ejemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cuaderno de ejemplos

Haz tú primer código

In [4]:
print("Hola mundo")

Hola mundo

Define una variable que sea una fila con 10 números

In [ ]:
X = range(10)

En la siguiente fila visualizamos los dígitos

In [ ]:
for value in X:
  print(value)

0
1
2
3
4
5
6
7
8
9

Ejemplo con Numpy

In [ ]:
import numpy as np

a = np.array([1, 2, 3])
print(a * 2)  # [2 4 6]

[2 4 6]

Ejemplo con Pandas

In [ ]:
import pandas as pd

df = pd.DataFrame({'Nombre': ['Ana', 'Luis'], 'Edad': [23, 35]})
print(df['Edad'].mean())  # 29.0

29.0

In [ ]:
import pandas as pd

df = pd.DataFrame({'Nombre':['Ana','Luis','José'],'Edad': [23,35,45]})
print(df['Edad'].mean())

34.333333333333336

# Código para búsqueda de noticias

In [ ]:
import requests
import pandas as pd

keyword = 'Zimbabwe 2017 protest'
country_code = 'sn'  # Código de país de Senegal
api_url = 'https://api.scrape-it.cloud/scrape/google'
headers = {'x-api-key': ' 4bf9003c-b35c-42fb-925a-a22b91bf4cf7’}
params = {
    'q': keyword,
    'domain': 'google.com',
    'tbm': 'nws',
    'tbs': 'cdr:1,cd_min:2017,cd_max:2017',
    'sort': 'r',  # Filtro para obtener las noticias de mayor relevancia
    'sn': country_code,  # Filtro por país
    'num': 10  # Número de resultados por solicitud
}

all_news = []

try:
    # Primera solicitud
    response = requests.get(api_url, params=params, headers=headers)
    if response.status_code == 200:
        data = response.json()
        all_news.extend(data['newsResults'])
    else:
        print(f"Error en la solicitud 1: {response.status_code}")

    # Segunda solicitud para obtener más resultados
    params['start'] = 10  # Comienza desde el 11º resultado
    response = requests.get(api_url, params=params, headers=headers)
    if response.status_code == 200:
        data = response.json()
        all_news.extend(data['newsResults'])
    else:
        print(f"Error en la solicitud 2: {response.status_code}")

    if all_news:
        df = pd.DataFrame(all_news)
        df.to_excel("Zimbabwe_2017_relevance_Senegal.xlsx", index=False)
except Exception as e:
    print('Error:', e)