<a href="https://colab.research.google.com/github/rocruzlathrop/retri-social/blob/main/Cuaderno_ejemplo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cuaderno de ejemplos

Define una variable que sea una fila con 10 números

In [1]:
X = range(10)

En la siguiente fila visualizamos los dígitos

In [2]:
for value in X:
  print(value)

0
1
2
3
4
5
6
7
8
9

Ejemplo con Numpy

In [ ]:
import numpy as np

a = np.array([1, 2, 3])
print(a * 2)  # [2 4 6]

[2 4 6]

Ejemplo con Pandas

In [ ]:
import pandas as pd

df = pd.DataFrame({'Nombre': ['Ana', 'Luis'], 'Edad': [23, 35]})
print(df['Edad'].mean())  # 29.0

29.0

In [ ]:
import pandas as pd

df = pd.DataFrame({'Nombre':['Ana','Luis','José'],'Edad': [23,35,45]})
print(df['Edad'].mean())

34.333333333333336

# Nueva sección